:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(255, 255, 255, 1);
    --focus-color: rgba(33, 150, 243, 1);
}
body {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
  }
button {
    cursor: pointer;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
 {
  outline: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.d-flex {
    display: flex;
}
.link {
    text-decoration: none;
}
.justify-content-around {
    justify-content: space-around;
}
.wrap {
    flex-wrap: wrap;
}
/* INDEX.HTML */
.navigation {
    align-items: center;
}
.header {
    padding: 25px 0 7px;
}
.header-menu {
    align-items: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--title-text-color);
    font-size: 26px;
    text-decoration: none;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo span {
    color: var(--focus-color);
}
.menu {
    margin-left: 85px;
}
.menu_btn {
    margin-right: 49px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-icon {
    margin-right: 10px;
    fill: currentColor;
}
.header-menu-link {
    margin-left: 50px;
}
.menu-link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
    color: var(--focus-color);
}
.menu-contacts {
    margin-left: auto;
}
/* section offer */
.offer {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
}
.main-contant {
    width: 696px;
    margin: auto;
}
.offer-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 44px;
    color: var(--accent-color);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
}
.offer__btn {
    display: block;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    padding: 10px 32px;
    background-color: var(--focus-color);
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.offer__btn:hover,
.offer__btn:focus,
.offer__btn:active {
    background-color: rgba(24, 140, 232, 1);
}
/* section features */
.features {
    padding: 94px 0 0;
}
.feature {
    width: 270px;
}
.feature:not(:last-child) {
    margin-right: 30px;
}
.feature-icon-box {
    display: block;
    padding: 25px 100px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
}
.features-main {
    display: none;
    visibility: hidden;
}
.feature_title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
    color: var(--title-text-color);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.feature_text {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
    line-height: 24px;
    letter-spacing: 0.03em;
}
/* section activities */
.activities {
    padding: 94px 0;
    text-align: center;
}
.activities-item {
    position: relative;
    width: 370px;
}
.activities-item:not(:last-child) {
    margin-right: 30px;
}
.activities-title, .team-title, .our-clients-title {
    margin: 0 0 50px 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--title-text-color);
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.activities-item__title  {
    position: absolute;
    width: 370px;
    margin: 0;
    top: 75%;
    bottom: 0;
}
.activities-item__link {
    display: block;
    padding: 27px 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: rgba(47, 48, 58, 0.8);
}
/* section team */
.team {
    padding: 94px 0;
    text-align: center;  
    background-color: rgba(245, 244, 250, 1); 
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-item {
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    padding-bottom: 24px;
}
.team-item__name {
    margin: 27px 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-item__position {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-text-color);
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-social {
    justify-content: center;
}

.social__link {
    display: block;
    margin-top: 16px;
    color: rgba(175, 177, 184, 1);
    fill: rgba(175, 177, 184, 1);
    padding: 12px;
    width: 44px;
    height: 44px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    fill: currentColor;
}
.team-social-item:not(:last-child) {
    margin-right: 10px;
}

.social__link:hover,
.social__link:focus {
    color: #fff;
    background-color: var(--focus-color);
    border-radius: 50%;
}

/* clients */
.our-clients {
    padding: 94px 0;
    text-align: center;   
}
.our-clients-title {
    margin-bottom: 50px;
}
.client:not(:last-child) {
    margin-right: 30px;
}
.client-icon {
    fill: currentColor;
}
.client-link {
    display: block;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
    color: rgba(175, 177, 184, 1);;
    fill: rgba(175, 177, 184, 1);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
    border: 1px solid rgba(33, 150, 243, 1);
    color: var(--focus-color);
}
/* footer */
.footer {
    padding-bottom: 21px;
    background-color: #2F303A;
}
.footer-nav {
    padding-bottom: 28px;
}
.contacts {
    flex-direction: column;
    width: 231px;
}
.logo-footer {
    color: var(--accent-color);
    margin: 60px 0 20px;
}
.address {
    font-size: 14px;
    color: var(--accent-color);
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-menu-link {
    margin-top: 9px;
}
.footer-socials {
    width: 206px;
    margin-left: 69px;
    margin-right: 94px;
}
.footer-social {
    justify-content: center;
}
.footer-social-icon {
    fill: currentColor;
}
.footer-social__link {
    display: block;
    color: var(--accent-color);
    padding: 12px;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--focus-color);
    border-radius: 50%;
}
.footer-social-icon:hover,
.footer-social-icon:focus {
    fill: #FFFFFF;;
}
.footer-title, .sub {
    margin-top: 72px;
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.subscription {
    width: 570px;
}
.send_btn {
    width: 200px;
    padding: 10px 29px;
    background-color: var(--focus-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send_btn:hover,
.send_btn:focus,
.send_btn:active {
    background-color: rgba(24, 140, 232, 1);
}
.sub-form input {
    width: 358px;
    padding: 18px 12px;
    margin-right: 12px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.submit-icon {
    margin-left: 10px;
    fill: currentColor;
}
.caption {
    margin: 0;
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-text-color);
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    letter-spacing: 0.03em;
}
/* PORTFOLIO.HTML */
.works {
    padding-top: 93px;
    padding-bottom: 94px;
}
.works-title {
    display: none;
    visibility: hidden;
}
.portfolio-nav {
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio_btn {
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-text-color);
    border: none;
    background-color: transparent;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_btn:focus,
.portfolio_btn:hover,
.portfolio_btn:active {
    background-color: var(--focus-color);
    color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.route-list_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--title-text-color);
    line-height: 36px;
    letter-spacing: 0.06em;
}
.route-list_item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 16px;
    border: 1px solid transparent;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.route-list_item:nth-child(3n) {
    margin-right: 0;
}
.route-list_item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.route-list_item:hover,
.route-list_item:focus,
.route-list_item:active {
    border: 1px solid #EEEEEE;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.route-list_link {
    position: relative;
    text-decoration: none;
}
.route-list_overlay {
    position: absolute;
    opacity: 0;
    width: 370px;
    margin: 0;
    top: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    font-weight: 400;
    color: var(--accent-color);
    line-height: 28px;
    letter-spacing: 0.03em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.route-list_overlay {
    opacity: 1;
}
.route-list_title {
    margin: 20px 24px 4px;
    font-size: 18px;
    font-weight: 700;
    color: var(--title-text-color);
}
.route-list_type {
    margin: 0 24px 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-text-color);
    line-height: 30px;
    letter-spacing: 0.03em;
}