.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 25px 0 7px;
  background-color: #fff;
  z-index: 9998;
}

.header-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 26px;
  text-decoration: none;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo span {
  color: #2196f3;
}

.menu {
  margin-left: 85px;
}

.menu_btn {
  position: relative;
  margin-right: 49px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -185%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_btn:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-menu-link {
  margin-left: 50px;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.menu-contacts {
  margin-left: auto;
}

.offer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../img/header.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}

.main-contant {
  width: 696px;
  margin: auto;
}

.offer-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
}

.offer__btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.offer__btn:hover,
.offer__btn:focus,
.offer__btn:active {
  background-color: #188ce8;
}

body {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link {
  text-decoration: none;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */