@import "./base/basestyle";
@import "./utils/variables";
@import "./components/header";
@import "./components/footer";
@import "./components/activities";
@import "./components/clients";
@import "./components/features";
@import "./components/modal";
@import "./components/offer";
@import "./components/team";
@import "./components/portfolio";