.our-clients {
    padding: 94px 0;
    text-align: center;
    
    &-title {
        margin-bottom: 50px;
    }
}
.client:not(:last-child) {
    margin-right: 30px;
}
.client-icon {
    fill: currentColor;
}
.client-link {
    display: block;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
    color: rgba(175, 177, 184, 1);;
    fill: rgba(175, 177, 184, 1);
    transition-property: color;
    @include transition;

    &:hover,
    &:focus {
        border: 1px solid $focusColor;
        color: $focusColor;
    }
}