.footer {
    padding: 60px 0;
    background-color: #2F303A;
    @media screen and (min-width:$tablet) {
        padding: 60px 89px 60px 76px;
    }
    @media screen and (min-width:$desktop) {
        padding: 60px 215px;
    }
}
.footer .container {
    width: auto;
    display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;


    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;

    }  
    @media screen and(min-width:$desktop) {
        padding-top: 45px;
        flex-direction: row;
	}
}

.contacts {
    flex-direction: column;
    text-align: center;
}
.logo-footer {
    color: $accentColor;
    @media screen and (min-width: $tablet) {
        margin: auto;
    }
}
.address {
    margin-top: 20px;
    font-size: 14px;
    color: $accentColor;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer-menu-link {
    margin-top: 9px;
}
.footer-socials {
    text-align: center;
    margin: 60px 0;
    @media screen and (min-width: $desktop) {
        margin: 0;
    }
}
.footer-social {
    justify-content: center;

    &-icon {
        fill: currentColor;

        &:hover,
        &:focus {
            fill: #FFFFFF;;
        }
    }
    &-link {
        display: block;
        color: $accentColor;
        padding: 12px;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition-property: background-color, color;
        @include transition;

        &:hover,
        &:focus {
            background-color: $focusColor;
            border-radius: 50%;
        }
    }
    &-item:not(:last-child) {
        margin-right: 10px;
    }
}
.footer-title, .sub {
    margin: 0 0 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: $accentColor;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.03em;
}
.send_btn {
    margin: auto;
    width: 200px;
    padding: 10px 29px;
    background-color: $focusColor;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    transition-property: background-color;
    @include transition;

    &:hover,
    &:focus,
    &:active {
        background-color: rgba(24, 140, 232, 1);
    }
}
.sub-form input {
    width: 100%;
	height: 50px;
	padding: 15px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	@media screen and (min-width: $tablet) {
		width: 450px;
	}
	@media screen and (min-width: $desktop) {
		width: 358px;
		margin-right: 12px;
        margin-bottom: 0;
        margin-left: auto;
	}
}
.submit-icon {
    margin-left: 10px;
    fill: currentColor;
}
.subscription {
    @media screen and (min-width: $tablet) {
		margin: auto;
	}
}
.footer-nav {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        width: 50%;

    } 
}
.sub-form {
    @media screen and (min-width: $desktop) {
        display: flex;
    } 
}
.sub {
    @media screen and (min-width: $desktop) {
        text-align: start;
    } 
}