.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px 15px;
    background-color: #fff;
    z-index: 9998;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: $titleTextColor;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 24px;
    line-height: 28px;

    @media screen and (min-width: $desktop)
    {
        font-size: 24px;
        line-height: 28px;
    }
}
.logo span {
    color: $focusColor ;
}
.navigation {
    align-items: center;
}
.menu, .menu-contacts {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
    }

}