textarea {
    resize: none;
}
.comment {
    padding: 12px 16px;
    margin: 0 0 20px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:active,
    &:focus {
    border: 1px solid $focusColor;
}
}
.icon-close {
    width: 18px;
    height: 18px;
    fill: currentColor;

    &:hover,
    &:active {
        fill: $focusColor;
    }
}
.is-hidden {
	opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    z-index: 9999;
	transition-property: opacity;
	@include transition;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
}
.form-button-close {
    position: absolute;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    right: 8px;
    top: 8px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    color: #000000;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: color;
    @include transition;
}
.form {
    position: relative;
    width: 528px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    overflow: auto;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $accentColor;
    color: $primaryTextColor;

    &-field {
        position: relative;
        width: 448px;
        display: flex;
        margin-bottom: 28px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
    &-input {
        width: 100%;
        margin: 0;
        padding: 12px 42px;
        font: inherit;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        @include transition;
        &:focus {
            border: 1px solid $focusColor;
        }
    }
    &-label {
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translateY(-50%);
        transition: transform 250ms linear;
    }
    &-icon {
        position: absolute;
        top: 55%;
        left: 19px;
        transform: translateY(-50%);
        display: inline-block;
        fill: rgba(33, 33, 33, 1);
        @include transition;
    }
    &-title {
        font-family: Roboto;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
    }
    &-checkbox {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &-input {
            margin-right: 7px;
            width: 16px;
            height: 15px;
            visibility: hidden;
        }
        &-label {
            display: inline-block;
            cursor: pointer;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 16px;
                height: 15px;
                top: 3px;
                left: 0;
                margin-left: 12px;
                transition-property: opacity;
                @include transition;
            }
            &:before {
                background: url(../img/checkbox.svg);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 1;
            }
            &:after {
                background: url(../img/check.svg);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0;
            }
        }
    }  
    &-button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}
.form-field:focus-within > .form-icon {
    fill: $focusColor;
  }
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-45px);
    color: $focusColor;
  }
.form-checkbox-input:checked + .form-checkbox-label:before {
	opacity: 0;
}
.form-checkbox-input:checked + .form-checkbox-label:after {
	opacity: 1;
}
.link-agree {
	color: $focusColor;
}
.hero-button {
	border-radius: 4px;
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	min-width: 200px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	border: 1px solid transparent;
	color: $accentColor;
	background-color: $focusColor;
	transition-property: background-color;
	@include transition;
    cursor: pointer;

    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }
}
.form-button-disabled {
	background-color: #afb1b8;
	pointer-events: none;
}