.works {
    padding-top: 93px;
    padding-bottom: 94px;

    &-title {
        display: none;
        visibility: hidden;
    }
}
.portfolio-nav {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 50px;
    @media screen and (min-width: 480px) {
        flex-wrap: wrap;
        justify-content: start;
        margin: -7px -4px;
    }
    @media screen and (min-width: $tablet) {
        justify-content: space-around;
        margin-bottom: 30px;
    }
}
.portfolio-item {
    @media screen and (max-width: $tablet) {
        margin-bottom: 15px;
    }
}
.portfolio-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio_btn {
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    color: $titleTextColor;
    border: none;
    background-color: transparent;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    transition-property: all;
    @include transition;

    &:focus,
    &:hover,
    &:active {
        background-color: $focusColor;
        color: $accentColor;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
}
.route-list_title {
    margin: 20px 24px 4px;
    font-size: 18px;
    font-weight: 700;
    color: $titleTextColor;
    line-height: 36px;
    letter-spacing: 0.06em;
}
.route-list_item {
    width: 100%;
    display: flex;
    justify-content: center;
	@media screen and(min-width:$tablet) {
		width: calc(100% / 2);
	}
	@media screen and(min-width:$desktop) {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 16px;
    
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
	}
}
.route-list_link {
    display: block;
    width: 370px;
    margin: 0;
    padding-bottom: 20px;
    text-decoration: none;
    box-shadow: 1px 4px 6px transparent;

    &:hover {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
    }
}
.route-list_wrap {
    position: relative;
    overflow: hidden;

    &:hover::before {
        opacity: 1;
    }
}
.route-list_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(33, 150, 243, 0.9);
    color: $accentColor;
    line-height: 28px;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.route-list_link:hover .route-list_overlay {
    transform: translateY(0);
    opacity: 1;
}
.route-list_type {
    margin: 0 24px;
    font-size: 16px;
    font-weight: 400;
    color: $primaryTextColor;
    line-height: 30px;
    letter-spacing: 0.03em;
}