body {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
  }
button {
    cursor: pointer;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active
 {
  outline: none;
}
textarea {
    resize: none;
}
.container {
    width: $mobile;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 768px)  {
        width: $tablet;
    }
    @media screen and (min-width: 1600px)  {
        width: $desktop;
    }
}
.link {
    text-decoration: none;
}
.justify-content-around {
    justify-content: space-around;
}
.wrap {
    flex-wrap: wrap;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
.d-flex {
    display: flex;
}